@import url('font_styles.css');

body {
	background-color: white;
	padding: 5px;
}

p {
	font-family: Montserrat;
	font-size: 18px;
	margin: 2px;
}

h3 {
	text-align: center;
	font-family: LeagueSpartan;
	font-size: 20px;
	margin-bottom: 2px;
}

h2 {
	text-align: center;
	font-family: Montserrat;
	font-size: 64px;
	padding-top: 100px;
}

h1 {
	text-align: center;
	margin-top: 15px;
	padding-top: 25px;
	padding-bottom:250px;
	font-family: Minecraft-Normal;
	color: white;
	font-size: 120px;
}

ul {
	list-style-type: none;
	margin: 0;
	margin-left: 30px;
	padding: 0;
	overflow: hidden;
	background-color: #ecf4f3;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 5px 16px;
	margin-top: 10px;
	text-decoration: none;
}

td a {
	font-family: Montserrat;
	font-size: 18px;
	margin: 2px;
	color: black;
	text-decoration: none;
}

#navbarIcon {
	height: 40px;
	width: 40px;
	margin: 0px 0px;
	padding: 0px 0px;
}

.icon {
	padding: 0px;
	margin: 5px 10px;
}

li a:hover:not(.active) {
	background-color: #d1eecc;
}

.active {
	background-color: #4CAF50;
}

#container {
	background-color: #ecf4f3;
	padding: 0px 36px;
}

.main {
	background-color: #57a99a;
}

#banner {
	background-image: url('images/banner.png');
	background-color: rgba(70, 72, 82, 0.3);
	background-size: cover;
	background-repeat: no-repeat;
	border-top: solid #76dbd1 10px;
	margin: 0px;
}

#navbar {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	background-color: #ecf4f3;
	padding: 5px;
	justify-content: center space-around;
}

#logo {
	height: 55px;
	width: 55px;;
}

.search {
	height: 35px;
	width: 35px;
	float: left;
	margin: 5px 3px;
}

#search {
	float: left;
	border: none;
	background-color: #ecf4f3;
}

#searchBar {
	height: 40px;
	width: 350px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin-top: 5px;
	margin-bottom: 16px;
	background-color: #D3D3D3;
	border: solid #D3D3D3;
}

#main {
	background-color: #f2fafa;
	margin: 0px 100px;
	border-left: solid #76dbd1 10px;
	border-right: solid #76dbd1 10px;
}

#credits {
	text-align: center;
}

#defaultPFP {
	height: 200px;
	width: 200px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 900px) {
	
}